/* Estilo para o rótulo dos campos */
label {
    display: block;
    margin-bottom: 10px;

}

/* Estilo para o campo obrigatório */
input[required],
select, select[required] {
    border: 1px solid #3CB371;
}

/* Estilo para o campo de entrada de data */
input[type="date"] {
    border: 1px solid #3CB371;
}

/* Estilo para a opção selecionada no menu suspenso */
select option:checked {
    background-color: #3CB371;
    color: #fff;
}

input {
    outline: none;
}

/* Estilo para o botão de envio */
input[type="submit"] {
    background-color: #3CB371;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para o formulário */
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #888;
}

/* Estilo para o campo de entrada de texto */
input[type="text"], input[type="number"], textarea {
    border: 1px solid #3CB371;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo para a opção de checkbox */
input[type="checkbox"] {
    margin-right: 10px;
}

#labelNotificacao,
#labelOculto {
    display: inline;
    color: #333;
}

.contentCheckBox {
    margin: 0.5rem 0;
}

#botaoSalvar {
    display: block;
}