body {
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #4bb550;
}

#cabecalhoNav > nav > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 160px;
}

.linksCabecalho {
    text-decoration: none;
    color: #FFF;
}

.links {
    text-decoration: none;
}

/* Parte da Camilla */

section {
    padding: 10px;
    color: #504f5a;
}

.sobreNos {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    background-color: #4bb550;
    color: white;

}

.destaqueTextoVerde {
    color: #4bb550;
    font-weight: bold;
    text-transform: uppercase;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 10px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

/* Parte da Camilla */