body, h2, p {
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #4bb550;
    color: #FFF;
    height: 65px;
}

#cabecalhoNav > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 22rem;
}

.linksCabecalho {
    text-decoration: none;
    color: #FFF;
}

.links {
    text-decoration: none;
    color: #FFF;
}

.menuSelecao {
    background-color: #4bb550;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    width: 165px;
}

/* Parte Murielle */
.sessaoContato {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin-top: 1rem;
    padding: 10px 45px;
    background: #4bb550;
    width: 100%;
    box-sizing: border-box;
}

.sessaoContato h2 {
    color: #f5f5f5;
    font-size:1rem;
    margin:2rem;
}

.formularioContato {
    display: flex;
    flex-direction:column;
    width:100%
}

.labelContato {
    color: #f5f5f5;
    font-size:17px;
    margin-bottom: 4px;
}

.formularioContato input {
    padding:15px;
    outline:nome;
    border:0;
    margin-bottom:20px;
    font-size:15px;
    transition:all 0.5s;
}

.formularioContato input:focus{
    border-radius: 16px;
}

.formularioContato textarea{
    padding:10px;
    outline:none;
    border: 0;
    font-size:15px;
    margin-bottom:30px;
    transition: all 0.5s;
}

.formularioContato textarea:focus{
    border-radius: 16px;
}

.formularioContato button{
    padding:15px;
    cursor:pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}

.formularioContato button:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

.main{
    display: flex;
    align-items:center;
    justify-content: center;
    min-height:100vh;
    background:#101026;
    flex-direction:column;
}
    
.text{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}
    
.paragrafo{
    color: #f5f5f5;
    margin-bottom: 50px;
}
    
.btn{
    padding:15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
}
    
.btn:hover{
    border-radius: 16px;
}

.conteudoPrincipalListagem {
    width: 70%;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    text-align: center;
    margin: 10px 0 30px 0;
    opacity: 0.9;
    color: #0CA64E;
}

.listaDeLancamentos {
    list-style: none;
}

.itemListaDeLancamentos{
    display: flex;
    background-color: #bbf2be;
    border : 1px solid #4bb550;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    justify-content: space-between;
}

.containerDeBotoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botao {
    display: flex;
    width: 100px;
    height: 25px;
    border: 1px solid #4bb550;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFF;
}

.btnVisualizar {
    background-color: #006400;
}

.btnEditar {
    background-color: #006400;
}

/* Parte Murielle */

/* Parte Vitor */

#sign{
    width: 99%;
    height: 560px;
    padding: 50px 0 50px 0;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cards{
    width: 30%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 2px lightgray;
    background-color: transparent;
}

.iconSign{
    max-width: 80px;
    max-height: 80px;
}

.cabecalhoCard{
    text-align: center;
    margin: 10px 0 30px 0;
    opacity: 0.9;
    color: #0CA64E;
}

#textoCabecalhoLogin{
    margin-bottom: 60px;
}

.campoSign{
    padding: 0 20px 10px 20px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    opacity: 0.8;
}

.campoSign input{
    background-color: transparent;
    margin-top: 10px;
    border:none;
    border-bottom: 1px solid lightgray;
    outline: none;
}

.campoSign ::placeholder , #inputDataNascimento{
    color: #d6dee2;
}

.divButton{
    align-items: center;
    justify-items: center;
    border-radius: 2px;
    margin: 20px;
    text-align: center;
}

.signButton{
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    border: 0.5px solid #4bb550;
    background-color: #4bb550;
    color: #FFF;
    cursor: pointer;
}

.signButton:hover{
    background-color: #93c572;
    border: 0.5px solid #93c572;
}

#loginSettings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 43.9px 20px;
}

.loginOptions{
    border-top: 1px solid lightgray;
    margin: 50px 20px 10px 20px;
    text-align: center;
}

.loginOptions p{
    color: gray;
    margin-top: 10px;
}

.loginOptionsIcon{
    width: 30px;
    height: 30px;
    margin: 15px 10px 0 10px;
}

#redesLogin{
   display: flex;
   justify-content:center;
}

/* Parte da Camilla */

#sobre {
    color: #504f5a;
}

.sobreNos {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    background-color: #4bb550;
    color: white;

}

.conteudoSobre {
    padding: 0 3rem;
    box-sizing: border-box;
}

.destaqueTextoVerde {
    color: #4bb550;
    font-weight: bold;
    text-transform: uppercase;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 10px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .campoInputMeta{
    padding: 0 20px 10px 20px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    opacity: 0.8;
}

.campoInputMeta input{
    background-color: transparent;
    margin-top: 10px;
    border:none;
    border-bottom: 1px solid lightgray;
    outline: none;
}

.campoInputMeta ::placeholder , #inputDataNascimento{
    color: #d6dee2;
}

.obrigatorio {
    color: red;
}

.sessaoFormMetas {
    max-width: 500px;
    margin: 0 auto;
}

/* Parte da Camilla */

/* Parte Sharon */

.redes {
    border-top: 1px solid #FFF;
}

.redes ul {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #4bb550;
    color: #FFF;  
    margin: 0;
    padding: 0;
    list-style: none;
}

.redes ul a {
    display: block;
    padding: 10px;
}

